:root {
  --primary-Pale-Blue: hsl(225, 100%, 94%);
  --primary-Bright-Blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--primary-Pale-Blue);
  background-size: contain;
}

.parent {
  width: 26%;
  background-color: white;
  padding-bottom: 60px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 0 11px 10px hsla(224, 23%, 55%, 0.39);
}
.order-img {
  width: 100%;
  height: 240px;
  margin-bottom: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  text-align: center;
  justify-content: space-around;
}
h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  padding-bottom: 10px;
}
.ms {
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.9rem;
  color: var(--Desaturated-blue);
  line-height: 1.5;
  padding-bottom: 9px;
}

.annual-plan {
  display: flex;
  background-color: hsla(228, 100%, 98%, 0.897);
  padding: 15px 4px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.left-flank {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.plan {
  text-align: center;
  margin-left: 13px;
}
.plan h2 {
  font-size: 1rem;
  font-weight: 700;
}
.annual-price {
  font-weight: 500;
  color: var(--Desaturated-blue);
  font-size: 0.8rem;
  text-indent: -15px;
}
.payment-btn {
  width: 100%;
  margin-bottom: 25px;
  background-color: var(--primary-Bright-Blue);
  text-decoration: none;
  color: white;
  border-radius: 9px;
  padding: 13px;
  box-shadow: 0 11px 10px hsla(245, 75%, 52%, 0.226);
}

.cancel-order-btn {
  text-decoration: none;
  color: hsla(223, 47%, 23%, 0.63);
  font-size: 13px;
}

/*

 background-image: url(../images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-Pale-Blue);

*/
